

<%- include("partials/header") %>

<div class="ui main text container segment">
  <div class="ui huge header">Edit Workout</div>
  <form class="ui form" action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="workout[title]" value="<%= workout.title %> ">
    </div>
    <div class="field">
      <label>Video Link</label>
      <input type="text" name="workout[video]" value="<%= workout.video %> ">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea name="workout[description]" required><%= workout.description %> </textarea>
    </div>
    <button class="ui teal big button" type="submit">Save</button>
  </form>
</div>

