<%- include("partials/header") %>

<div class="ui container">
    <div class="ui center aligned huge header">Workouts</div>
        <div class="ui stackable three column grid">
            <% workouts.map(workout => { %>
            <div class="column">
                <div class="ui segment">
                    <h3><%= workout.title %></h3>
                    <div class="video-responsive">
                        <iframe width="420" height="315" src='<%= workout.video %>'></iframe>
                    </div>
                    <div class="ui segment">
                        <div class="description">
                            <p><%= workout.description.substring(0, 100) %>...</p>
                        </div>                  
                    </div>
                    <div class="extra">
                        <a class="tiny ui orange button" href="/workouts/<%= workout._id %>">View More
                        <i class="right chevron icon"></i></a>
                    </div>
                </div>
            </div>
            <% }) %> 
    </div>
</div>

<%- include("partials/footer") %>